{% extends "base.html" %}
<!-- {% block title %}Youv'e logged in {% endblock %} -->

{% block content %}
<p>Hello You have Logged in as {{ cf_id }}</p>
<h2>Click on the buttons to navigate:</h2>
<script>
    // Get the current URL
    var currentURL = window.location.href;
  
    // Modify the links with the current URL
    var syncLink = document.createElement('a');
    syncLink.href = currentURL + "/sync";
    syncLink.className = "btn btn-primary";
    syncLink.role = "button";
    syncLink.textContent = "Codeforces Sync";
    document.body.appendChild(syncLink);
  
    var recommendLink = document.createElement('a');
    recommendLink.href = currentURL + "/recommend";
    recommendLink.className = "btn btn-primary";
    recommendLink.role = "button";
    recommendLink.textContent = "Codeforces Recommend";
    document.body.appendChild(recommendLink);
  
    var analysisLink = document.createElement('a');
    analysisLink.href = currentURL + "/analysis";
    analysisLink.className = "btn btn-primary";
    analysisLink.role = "button";
    analysisLink.textContent = "Codeforces Analysis";
    document.body.appendChild(analysisLink);
  </script>
  

{% endblock %}