{% extends "base.html" %}
<!-- {% block title %}Youv'e logged in {% endblock %} -->

{% block content %}
<p>processing</p>
<!-- <h2>Click on the buttons to navigate:</h2>

    <a href="http://172.21.5.200:5000/home/{{ cf_id }}/sync"class="btn btn-primary" role="button">Codeforces Sync</a>

    <!-- Button 2 -->
    <!-- <a href="http://172.21.5.200:5000/home/{{ cf_id }}/recommend"class="btn btn-primary" role="button">Codeforces recommend</a>

    <!-- Button 3 -->
    <!-- <a href="http://172.21.5.200:5000/home/{{ cf_id }}/analysis"class="btn btn-primary" role="button">Codeforces analysis</a> --> --> -->


{% endblock %}